#main {
    min-width: 1800px;
    max-width: 1800px;
    position: absolute;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
table {
    width: 50%;
}
button {
    height: 20px;
    width: 40px;
    margin:auto;
    display:block;
}
/*button#buttonCopy {*/
    /*margin: 0%;*/
    /*width: 200px;*/
/*}*/
/*form {*/
    /*position: absolute;*/
/*}*/
/*textarea {*/
    /*margin: 0px;*/
    /*height: 282px;*/
    /*width: 892px;*/
/*}*/
.xmlRight {
    position: fixed;
    left: 950px;
    border-left: double;
    height: 100%;
    width: 40%;
    z-index: 99999;
    overflow: auto;
}
#requiredField {
    font-size: small;

}
#rotation {
    position: absolute;
    left: 950px;
    border-left: double;
    height: 100%;
    width: 40%;

}
#xactNet {
    position: absolute;
    left: 950px;
    top: 180px;
    border-left: double;
    height: 100%;
    width: 40%;
}
#clipButton {
    height: 20px;
    width: 200px;
    float: right;
}
#addfield{
    max-width: 25px;
    min-width: 25px;
}
#field {
    max-width: 60px;
    min-width: 60px;
}
#description {
    max-width: 140px;
    min-width: 140px;
}
#xmlSample {
    max-width: 180px;
    min-width: 180px;
}
#format {
    max-width: 100px;
    min-width: 100px;
}
#elementDesc0 {
    width: 380px;
    background-color: lightgrey;
    padding-top: 3px;
    padding-bottom: 3px;
}
#elementDesc1 {
    width: 397px;
    background-color: lightgrey;
    max-height: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#elementDesc2 {
    max-width: 410px;
    min-width: 411px;;
    background-color: lightgrey;
    padding-top: 3px;
    padding-bottom: 3px;

}
#elementDesc3 {
    max-width: 422px;
    min-width: 423px;
    background-color: lightgrey;
    padding-top: 3px;
    padding-bottom: 3px;

}
#elementDesc4 {
    max-width: 433px;
    min-width: 434px;
    background-color: lightgrey;
    padding-top: 3px;
    padding-bottom: 3px;

}
#elementDesc5 {
    max-width: 445px;
    min-width: 445px;
    background-color: lightgrey;
    padding-top: 3px;
    padding-bottom: 3px;

}
#elementName {
    width: 430px;
    background-color: lightgrey;
    padding-top: 3px;
    padding-bottom: 3px;

}
#elementRequired {
    width: 179px;
    background-color: lightgrey;
}
.element0 #description {
    max-width: 128px;
    min-width: 128px;
}
.element1 #description {
    max-width: 153px;
    min-width: 153px;
}
.element2 #description {
    max-width: 153px;
    min-width: 153px;
}
.element3 #description {
    max-width: 171px;
    min-width: 171px;
}
.element4 #description {
    max-width: 188px;
    min-width: 188px;
}
.element5 #description {
    max-width: 208px;
    min-width: 208px;
}
.tab1{
    margin-left: 20px;
}
.tab2{
    margin-left: 40px;
}
.tab3{
    margin-left: 60px;
}
.tab4{
    margin-left: 80px;
}
.tab5{
    margin-left: 100px;
}
.tab6{
    margin-left: 120px;
}
